<template>
  <!-- <nav class="navbar navbar-expand-lg  navbar-inner" id="navbarX">
    <a class="navbar-brand" href="/">Mi mercadito</a>
    <div class="navbar-collapse collapse ">
      <ul class="nav navbar-nav mr-auto">
        <router-link to="/bolsa" tag="li" active-class="active" class="nav-item" exact>
          <a class="nav-link">Bolsa</a>
        </router-link>
        <router-link to="/mercadito" tag="li" active-class="active" class="nav-item">
          <a class="nav-link">Mercadito</a>
        </router-link>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdown05">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right mr-auto">
        <li><a href="#">Dormir</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdown05">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>

  </nav> -->
 <div>
  <b-navbar toggleable="lg" type="dark" variant="info">
    <b-navbar-brand href="/">De compras punto com</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <router-link to="/mercadito" tag="b-nav-item" active-class="active" class="nav-item">
          Mercadito
        </router-link>
        <router-link to="/bolsa" tag="b-nav-item" active-class="active" class="nav-item">
          Bolsa
        </router-link>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <!-- <b-nav-form>
          <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
        </b-nav-form> -->

        <b-nav-item-dropdown text="Guardar o Cargar" right>
          <b-dropdown-item href="#">Guardar</b-dropdown-item>
          <b-dropdown-item href="#">Cargar</b-dropdown-item>
        </b-nav-item-dropdown>

        <!-- <b-nav-item-dropdown right>

          <template slot="button-content"><em>User</em></template>
          <b-dropdown-item href="#">Profile</b-dropdown-item>
          <b-dropdown-item href="#">Sign Out</b-dropdown-item>
        </b-nav-item-dropdown> -->
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>
</template>

<style lang="">
  /*#navbarX {
    border: 1px solid #DEE;
    border-radius: 0 0 4px 4px;
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
    padding: 0;
  }
  #navbarX a {
      color: #444;
  }
  .navbar-brand {
    padding: 5px
  }
li.nav-item.router-link-exact-active.active {
    box-shadow: inset 4px 4px 22px -11px rgba(102,102,102,0.5);
    background-color: #DDD;
    border: 1px solid #CBCBCB;
}
ul.nav.navbar-nav.navbar-right {
    padding-right: 10px;
}*/
</style>
























