<template>
  <div>

  </div>
</template>

<script>
export default {
  data(){
    return {
      laMerca: [
        { id: 1, name: 'Mota', price: 100 },
        { id: 2, name: 'Piedra', price: 30 },
        { id: 3, name: 'Tacha', price: 50 },
        { id: 4, name: 'Xta', price: 65 },
        { id: 5, name: 'Meta', price: 12 },
        { id: 6, name: 'Coca', price: 32 }
      ]
    }
  }
}
</script>


